@import "./assets/fonts/fonts.scss";

html,
body {
  background: #ebeef3;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, p, button, ul, li {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}